@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@100;200;300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
}

#app {
  width: 100vw;
  height: 100vh;
  background: #343541;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


/* ****** Navbar ******* */
header {
  width: 100%;
  background: #40414F;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.10);
}

.container {
  width: 98%;
  max-width: 120rem;
  margin: 1rem;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  background-color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  border-radius: 50%;
}

.navbar-brand i img {
  width: 105%;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-link {
  font-family: 'Tomorrow', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  display: block;
  margin: 0 2rem;
  color: #fff;
  text-transform: capitalize;
  transform: scale(0);
  transition: transform 650ms;
}

.nav-item {
  position: relative;
  line-height: 4.5rem;
  transition-delay: .4s;
  visibility: hidden;
}

.nav-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #9dfff2;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 650ms cubic-bezier(.68, -.55, .265, 1.55);
}

.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
} 

/* Hamburger Menu */
.hamburger {
  width: 2.8rem;
  height: 1.2rem;
  position: relative;
  cursor: pointer;
  line-height: 5rem;
  z-index: 1500;
}

.hamburger .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  display: block;
  right: 0;
  transition: all 650ms;
}

.hamburger .line:nth-child(1) {
  top: 0;
}

.hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -1px;
  width: 80%;
}

.hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
  width: 60%;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(.8rem) rotate(45deg);
  width: 2rem;
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-.8rem) rotate(-45deg);
  width: 2rem;
}


.nav-list.active .nav-link {
  transform: scale(1);
}

.nav-list.active .nav-item {
  transition-delay: initial;
  visibility: visible;
}

.nav-list.active .nav-item:nth-child(1) .nav-link {
  transition-delay: .5s;
}

.nav-list.active .nav-item:nth-child(2) .nav-link {
  transition-delay: .4s;
}

.nav-list.active .nav-item:nth-child(3) .nav-link {
  transition-delay: .3s;
}

.nav-list.active .nav-item:nth-child(4) .nav-link {
  transition-delay: .2s;
}

.nav-list.active .nav-item:nth-child(5) .nav-link {
  transition-delay: .1s;
}

/* reverse animation */

.nav-list .nav-item:nth-child(1) .nav-link {
  transition-delay: .1s;
}

.nav-list .nav-item:nth-child(2) .nav-link {
  transition-delay: .2s;
}

.nav-list .nav-item:nth-child(3) .nav-link {
  transition-delay: .3s;
}

.nav-list .nav-item:nth-child(4) .nav-link {
  transition-delay: .4s;
}

.nav-list .nav-item:nth-child(5) .nav-link {
  transition-delay: .5s;
}
/* ************* *** ************ */


#hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#hero img {
  width: 30%;
}

#hero .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero .heading {
  color: #fff;
  font-size: 5rem;
  font-family: 'Tomorrow', sans-serif;
  font-weight: 600;
}

#hero .text {
  color: rgba(255, 255, 255, 0.599);
  font-size: 1.2rem;
  font-weight: 300;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
  padding: 1rem 10vw;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #dcdcdc;
  font-size: 18px;

  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap; 
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 80%;
  max-width: 1280px;
  margin: 1rem auto;
  padding: 10px;
  background: #40414F;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.10);

  display: flex;
  flex-direction: row;
  gap: 10px;
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 5px 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

form img {
  width: 20px;
  /* height: 30px; */
}


/* ********* Media Queries ********* */
@media screen and (max-width: 768px) {

    /* Navbar */
    .nav-list {
      width: 100%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #343541;
      position: fixed;
      left: 0;
      bottom: -100vh;
      transform: bottom 650ms;
    }

    .nav-list.active {
      bottom: 0;
    }

    .navbar-brand {
      width: 3rem;
      height: 3rem;
      margin: 5px 0;
    }
    
    .navbar-brand i img {
      width: 105%;
    }


    /* hero section */
    #hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    #hero img {
      width: 80%;
      margin: 2rem 0;
    }
    
    #hero .heading {
      font-size: 4rem;
    }
    
    #hero .text {
      font-size: 1rem;
    }
}